<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hsl.txtreader"
      android:versionName="1.2" android:versionCode="4">
    <application android:name="TextReaderApp"
    			 android:icon="@drawable/text_reader"
				 android:label="@string/app_name">
        <activity android:name=".TextReader"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
          		<data android:mimeType="application/pdf"/>
	          </intent-filter>			  
        </activity>

        <activity android:name=".FilePicker"
				  android:label="@string/file_picker">
       	</activity>

     	<activity android:name=".PagePicker"
				  android:label="@string/page_picker">
       	</activity>
     	
     	<activity android:name=".ColorPicker"
				  android:label="@string/color_picker">
       	</activity>
       	
       	
    </application>
    
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion ="26" />
</manifest> 